# Azure Storage - Sem Chaves, usando seu 'az login'
AZURE_ACCOUNT_NAME="seu-account-name"
AZURE_CONTAINER_NAME="fotos"

# Azure SQL Server - Autenticação SQL nativa
AZURE_SQL_SERVER="seu-servidor.database.windows.net"
AZURE_SQL_DATABASE="seu-banco"
AZURE_SQL_USERNAME="seu-usuario"
AZURE_SQL_PASSWORD="sua-senha"
